<!-- base.html -->
<html>
    <head>
        <title>Iot</title>
    </head>
    <body>
        <h2>Módulo de iot do Meu Restaurante</h2>
        <ul>
            <li><a href="#">Cadastrar sensor</a></li>
            <li><a href="#">Cadastrar atuador</a></li>
            <li><a href="#">Leitura de dados dos sensores</a></li>
            <li><a href="#">Acionamento dos atuadores</a></li>
        </ul>
        <div id="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>